.line {
  position: relative;
}
.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--color--white);
  opacity: 0.65;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.hero_h1-wrapper h1 span {
  position: relative;
  display: inline-block;
  transform: translateY(500px);
}

.hero-scroll_img-overflow,
.hero-scroll_img_photo {
  will-change: transform;
}

/* The animation code */
@keyframes fill {
  0% {
    opacity: 1;
    width: 0%;
  }
  95% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

/* The element to apply the animation to */
.tabs_item.is-active .tabs_item_divider-active {
  animation-name: fill;
  animation-duration: 5s;
}
